{% extends 'base.html' %}

{% block content%}

<div class="newMain">
<div class="addExercise">
    <form action='' method='POST' autocomplete="off">
        {% csrf_token %}
        {% if object %}
        <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
        {% else %}
        <h1>Add Exercise</h1>
        {% endif%}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" class="btn" />
    </form>
</div>
</div>

{% endblock%}