{% extends 'base.html' %}
{% block mainclass %}
aboutBackground
{% endblock %}
{% block content %}

<div class="newMain">
    <div class="addWorkout">
        <h1 class="center-align">About LifTrackr</h1>
        <h5 class="center-align">Mobile friendly workout tracker designed for simplicity of records. Quickly create an account and start uploading all of your current exercises. Once you have a strong list compiled, you can add these exercises to any of your workout routines. Post workout, athletes can record the date and effort attributed to the workout.</h5>
    </div>
</div>

{% endblock %}

