{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>LifTrackr</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal darken-3">
        <a href="/" class="left-brand-logo"> LifTrackr</a>
        <img src="../static/images/weightlogo.svg" class="rotate" alt="weight" width="50px" height="50px">
        <ul class="right">
          <li class="lime darken-3"><a href="/about">About</a></li>
          {% if user.is_authenticated %}
          <li class="lime darken-3"><a href="{% url 'workouts_create' %}">Create Workout</a></li>
          <li class="lime darken-3"><a href="{% url 'index' %}">View My Routines</a></li>
          <li class="lime darken-3"><a href="{% url 'exercises_create' %}">Add Exercise</a></li>
          <li class="lime darken-3"><a href="{% url 'exercises_index' %}">View All Exercises</a></li>
          <li class="lime darken-3"><a href="{% url 'logout' %}">Log Out</a></li> 
          {% else %} 
          {% comment %} <li><a href="{% url 'login' %}">Log In</a></li>  {% endcomment %}
          {% comment %} <li><a href="{% url 'signup' %}">Signup</a></li>  {% endcomment %}
          {% endif %}  
        </ul>
      {% comment %} </div> {% endcomment %}
    </div>
    </nav>
  </header>
  <main class="{% block mainclass %}{% endblock %}">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer teal darken-3">
    <div class="footer">
      All Rights Reserved, © 2023 LifTrackr
      <a href="/admin">Admin</a>
    </div>
  </footer>
</body>

</html>